.valute_card_wrp {
	padding: 20px 20px 20px 20px;
	border-radius: 20px;
	background: #6a81ff;
	width: min-content;
	max-width: 200px;
	cursor: pointer;
	h3 {
		color: #fff;
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: 110.5%;
	}
	.valute_card_name_wrp {
		display: flex;
		align-items: center;
		gap: 5px;
		margin-bottom: 10px;
		span {
			font-size: 20px;
		}
	}
	span {
		color: #fff;
		font-size: 36px;
		font-style: normal;
		font-weight: 400;
		line-height: 110.5%;
	}
}
