@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
}
body {
	background-color: #f8f8f8;
}
.container {
	padding: 0 50px;
}

section {
	margin-bottom: 60px;
}

@media (max-width: 400px) {
	.container {
		padding: 0 20px;
	}
	section {
		margin-bottom: 40px;
	}
}
