.initial_data {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 10px;
	gap: 10px;
	div span:last-child {
		margin-top: 5px;
		color: #4f4f4f;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 110.5%; /* 22.1px */
	}
}
