.main_wrp {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	gap: 20px;
}

@media (max-width: 800px) {
	.main_wrp {
		grid-template-columns: 1fr;
		justify-content: initial;
	}
}
